.meetsList{
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  margin: 0 auto;
}

.allMeetsHeader{
  color: #86c5af;
  font-size: 30px;
  margin-bottom: 20px;
  padding: 5px 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* .emptyDiv{
  padding-top: 100px;
} */